# Database Connection String
DATABASE_URL=""

# Database Connection instance
DB_HOST="" 
DB_USER=""
DB_PASSWORD=""
DB_PORT=
DB_NAME=""

# Backend environment variables

# Main Variables
SERVICE_HTTP_PORT=
NODE_ENV=""
SERVICE_NAME=
SERVICE_HOST=

# Host Service gRPC Variables
GRPC_PORT=
GRPC_HOST=
GRPC_PROTO=
GRPC_VERBOSITY=
GRPC_MAX_RECEIVE_MESSAGE_LENGTH=
GRPC_MAX_SEND_MESSAGE_LENGTH=
GRPC_KEEPALIVE_TIME_MS=
GRPC_KEEPALIVE_TIMEOUT_MS=

# Client Service gRPC Variables


# Nats Messaging system variables
NATS_SERVER=
NATS_USER=""
NATS_PASSWORD=""
NATS_TOKEN=""
NATS_CLIENT_ID=
NATS_SERVICE_GROUP=
NATS_JETSTREAM_ENABLED=
NATS_STREAM_NAME=
NATS_STREAM_SUBJECTS=
NATS_MAX_RECONNECT_ATTEMPTS=
NATS_RECONNECT_TIME_WAIT=

# Redis Variables
REDIS_USERNAME=""
REDIS_PASSWORD=""
REDIS_PORT=60
REDIS_CACHE_KEY_PREFIX=
REDIS_TLS_ENABLED=
REDIS_CONNECT_TIMEOUT=
REDIS_MAX_RETRIES_PER_REQUEST=

